<a href="https://colab.research.google.com/github/jupsimar/jupsimar/blob/main/Yelp_Covid_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing the libraries
# importing the libraries
import json
import requests
import pandas as pd
from pandas import json_normalize

# working with COVID data

In [2]:
#endpoint
url ='https://api.covid19api.com/summary'

In [4]:
response = requests.get(url).json()
response
print(response.keys())

dict_keys(['ID', 'Message', 'Global', 'Countries', 'Date'])

In [5]:
#converts Json dictonary to dataframe
recs = response['Countries']
#normalize function is used to flatten data
df = json_normalize(recs)

df.head()

                                     ID  ...                      Date
0  7cbb7fc3-35fa-4b7c-9481-faaccdef92b7  ...  2021-07-13T16:48:27.928Z
1  a4884659-8802-4358-ab39-092d5d0524fb  ...  2021-07-13T16:48:27.928Z
2  00205d36-904b-49be-84c7-f48db06121d1  ...  2021-07-13T16:48:27.928Z
3  8bfdb4fe-f8ad-46a7-9efa-0129c783387b  ...  2021-07-13T16:48:27.928Z
4  97e63a04-3920-499b-bb44-5cc2699e8b51  ...  2021-07-13T16:48:27.928Z

[5 rows x 11 columns]

In [6]:
df.drop(['ID'],axis=1,inplace=True)

In [7]:
#set index as country
df.set_index('Country')

                                CountryCode  ...                      Date
Country                                      ...
Afghanistan                              AF  ...  2021-07-13T16:48:27.928Z
Albania                                  AL  ...  2021-07-13T16:48:27.928Z
Algeria                                  DZ  ...  2021-07-13T16:48:27.928Z
Andorra                                  AD  ...  2021-07-13T16:48:27.928Z
Angola                                   AO  ...  2021-07-13T16:48:27.928Z
...                                     ...  ...                       ...
Venezuela (Bolivarian Republic)          VE  ...  2021-07-13T16:48:27.928Z
Viet Nam                                 VN  ...  2021-07-13T16:48:27.928Z
Yemen                                    YE  ...  2021-07-13T16:48:27.928Z
Zambia                                   ZM  ...  2021-07-13T16:48:27.928Z
Zimbabwe                                 ZW  ...  2021-07-13T16:48:27.928Z

[192 rows x 9 columns]

# working with Yelp Data

you will need to have your api token stored on Google Drive to connect to yelp

In [10]:
api_url = 'https://api.yelp.com/v3/businesses/search'
#api key for the yelp
api_key='edzpO5GSEJgeyIQ9KXU1uUmrvBvvzcIIzV5zpw0OAf4KFWMG7uPeD2i1wE7LJZRprVJRBYhHTmZdBcWN0pEQVunCvorCPNqlyaGu7Zq-oW16QDsGKJRkvcobGpXtYHYx'

params = {"term":"pharmacies", "limit": 50, "location":"Sudbury, ON","sort by":"review_count"}
headers = {'Authorization': 'Bearer %s' % api_key}

In [11]:
response = requests.get(api_url, params = params, headers = headers)

In [12]:
#loading json 
result=response.json()

print(result)

{'businesses': [{'id': 'hkjmx0oCeA-CRW3lvVxUKg', 'alias': 'ida-hermans-pharmacy-sudbury', 'name': "IDA Herman's Pharmacy", 'image_url': '', 'is_closed': False, 'url': 'https://www.yelp.com/biz/ida-hermans-pharmacy-sudbury?adjust_creative=9D1dbiHHSp861O-RPJarkg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9D1dbiHHSp861O-RPJarkg', 'review_count': 3, 'categories': [{'alias': 'pharmacy', 'title': 'Pharmacy'}], 'rating': 5.0, 'coordinates': {'latitude': 46.487542, 'longitude': -81.006897}, 'transactions': [], 'location': {'address1': '240 Regent St', 'address2': '', 'address3': '', 'city': 'Sudbury', 'zip_code': 'P3C 4C5', 'country': 'CA', 'state': 'ON', 'display_address': ['240 Regent St', 'Sudbury, ON P3C 4C5', 'Canada']}, 'phone': '+17056743339', 'display_phone': '+1 705-674-3339', 'distance': 11899.95929692682}, {'id': '83bO_fhjE51ufA9fb7apTg', 'alias': 'clinicare-pharmacy-sudbury', 'name': 'Clinicare Pharmacy', 'image_url': '', 'is_closed': False, 'url': 'https://www.yelp.com/biz/clinicare-pharmacy-sudbury?adjust_creative=9D1dbiHHSp861O-RPJarkg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9D1dbiHHSp861O-RPJarkg', 'review_count': 1, 'categories': [{'alias': 'drugstores', 'title': 'Drugstores'}], 'rating': 5.0, 'coordinates': {'latitude': 46.52168, 'longitude': -80.93127}, 'transactions': [], 'location': {'address1': '1813 Lasalle Boulevard', 'address2': '', 'address3': '', 'city': 'Sudbury', 'zip_code': 'P3A 2A3', 'country': 'CA', 'state': 'ON', 'display_address': ['1813 Lasalle Boulevard', 'Sudbury, ON P3A 2A3', 'Canada']}, 'phone': '+17055251771', 'display_phone': '+1 705-525-1771', 'distance': 13158.820301008867}, {'id': 'L9Gkl7tDfGEDxw0CkpnsNQ', 'alias': 'chris-independent-grocer-sudbury', 'name': 'Chris’ Independent Grocer', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/oxfE7f1ks6_xQE82RHz5ug/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/chris-independent-grocer-sudbury?adjust_creative=9D1dbiHHSp861O-RPJarkg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9D1dbiHHSp861O-RPJarkg', 'review_count': 3, 'categories': [{'alias': 'grocery', 'title': 'Grocery'}, {'alias': 'pharmacy', 'title': 'Pharmacy'}], 'rating': 1.5, 'coordinates': {'latitude': 46.4909174, 'longitude': -81.0018033}, 'transactions': [], 'price': '$$$$', 'location': {'address1': '82 Lorne Street', 'address2': '', 'address3': '', 'city': 'Sudbury', 'zip_code': 'P3C 4N8', 'country': 'CA', 'state': 'ON', 'display_address': ['82 Lorne Street', 'Sudbury, ON P3C 4N8', 'Canada']}, 'phone': '+17056713051', 'display_phone': '+1 705-671-3051', 'distance': 11816.966243147623}, {'id': 'dcuI6w3C8U5hsTHqrzaNoA', 'alias': 'walmart-supercentre-sudbury', 'name': 'Walmart Supercentre', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/Hm5X-SL1goApraQImVbehQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/walmart-supercentre-sudbury?adjust_creative=9D1dbiHHSp861O-RPJarkg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9D1dbiHHSp861O-RPJarkg', 'review_count': 2, 'categories': [{'alias': 'deptstores', 'title': 'Department Stores'}], 'rating': 4.5, 'coordinates': {'latitude': 46.440373749929, 'longitude': -81.0022252458246}, 'transactions': [], 'location': {'address1': '2416 Long Lake Road', 'address2': 'Smart Centre Sudbury South', 'address3': None, 'city': 'Sudbury', 'zip_code': 'P3E 5H5', 'country': 'CA', 'state': 'ON', 'display_address': ['2416 Long Lake Road', 'Smart Centre Sudbury South', 'Sudbury, ON P3E 5H5', 'Canada']}, 'phone': '+17055236287', 'display_phone': '+1 705-523-6287', 'distance': 16846.094152924754}], 'total': 4, 'region': {'center': {'longitude': -81.0791015625, 'latitude': 46.58233612481779}}}

In [13]:
result.keys()

dict_keys(['businesses', 'total', 'region'])

In [14]:
#converts Json dictonary to dataframe
pharm = result['businesses']
#normalize function is used to flatten data
df_pharm = json_normalize(pharm)

df_pharm.head()

                       id  ... price
0  hkjmx0oCeA-CRW3lvVxUKg  ...   NaN
1  83bO_fhjE51ufA9fb7apTg  ...   NaN
2  L9Gkl7tDfGEDxw0CkpnsNQ  ...  $$$$
3  dcuI6w3C8U5hsTHqrzaNoA  ...   NaN

[4 rows x 24 columns]

In [15]:
#dropping column not required
df_pharm.drop(['id','alias'],axis=1,inplace=True)

In [16]:
df_pharm.head()

                        name  ... price
0      IDA Herman's Pharmacy  ...   NaN
1         Clinicare Pharmacy  ...   NaN
2  Chris’ Independent Grocer  ...  $$$$
3        Walmart Supercentre  ...   NaN

[4 rows x 22 columns]

In [17]:
df_pharm.set_index('name') #setting index as name of the pharmacy

                                                                   image_url  ...  price
name                                                                          ...
IDA Herman's Pharmacy                                                         ...    NaN
Clinicare Pharmacy                                                            ...    NaN
Chris’ Independent Grocer  https://s3-media3.fl.yelpcdn.com/bphoto/oxfE7f...  ...   $$$$
Walmart Supercentre        https://s3-media2.fl.yelpcdn.com/bphoto/Hm5X-S...  ...    NaN

[4 rows x 21 columns]